.vscode/
.vscode/*
*.out
main
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.ninja*
build.ninja
Testing/
Testing/*
.cmake/
.cmake/*
.idea
.idea/
.idea/*
.ninja_deps
.ninja_log
build/
build/*
cache/
cache/*
.cache/
.cache/*
